.admin-navbar {
  position: fixed; /* 화면 위에 고정 */
  top: 0;
  left: 0;
  width: calc(100vw - 48px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 2px solid #e0e0e0;
  z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}

.admin-navbar .logo {
  width: 140px;
  height: 40px; /* 로고 이미지 크기 조정 */
  margin-left: 24px;
}

.admin-navbar .menu {
  display: flex;
  gap: 48px;
}

.admin-navbar .menu-item {
  color: gray;
  font-weight: normal;
  font-size: 24px;
  cursor: pointer;
  
  transition: color 0.3s, font-weight 0.3s;
  
  position: relative; /* 밑줄을 추가하기 위해 상대 위치 설정 */
}

.admin-navbar .menu-item.active {
  color: black;
  font-weight: bold;
}

.admin-navbar .menu-item.active:after {
  content: '';
  position: absolute;
  bottom: -12px; /* navbar의 경계선에 맞추기 위한 위치 설정 */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.admin-navbar .admin-info {
  background-color: #e0e0e0;
  padding: 8px 12px;
  width: 110px;
  height: 40px;
}

.admin-info_admin {
  font-size: 10px;
  color: black;
  font-weight: bold;
  margin: 0px;
}

.admin-info_class {
  font-size: 10px;
  color: #797777;
}
.admin-navbar .hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 700px) {
  .admin-navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
  }

  .admin-navbar .logo {
    margin-bottom: 10px;
  }

  .admin-navbar .hamburger-menu {
    display: block;
  }
  .hamburger-menu{
    position: fixed;
    top: 5px;
    right: 10px;
  }
  .admin-navbar .menu {
    flex-direction: column;
    gap: 10px;
    width: 50%;
    display: none;
  }

  .admin-navbar .menu.open {
    display: flex;
  }

  .admin-navbar .menu-item {
    font-size: 24px;
    margin-right: 0;
    text-align: left;
  }

  .admin-navbar .menu-item.active:after {
    bottom: -8px;
    height: 2px;
  }

  .admin-navbar .admin-info {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    display: none;
  }
}
.request-count {
  background-color: #FF775E;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  margin-left: 3px;
}
@media (max-width: 480px) {
  .admin-navbar .menu-item {
    font-size: 16px;
  }

  .admin-navbar .admin-info {
    padding: 8px;
  }

  .admin-navbar .logo {
    width: 100px;
    height: 30px;
  }
  .admin-info.open {
    display: block;
  }
}
