.background {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    transition: all 5s ease-in-out;
  }
  
  .circle1 {
    width: 465px;
    height: 455px;
    left: -235px;
    top: -400px;
    background: rgba(255, 119, 94, 0.5);
    animation: swap 10s infinite;
  }
  
  .circle2 {
    width: 700px;
    height: 710px;
    left: 181px;
    top: -600px;
    background: rgba(255, 176, 215, 0.5);
    animation: swap 10s infinite;
  }
  
  @keyframes swap {
    0%, 100% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(calc(181px - (-235px)));
    }
  }