.background {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* 배경을 콘텐츠 뒤로 보냄 */
  pointer-events: none; /* 클릭 이벤트가 백그라운드에서 발생하지 않도록 설정 */
}

.blur-box {
  position: absolute;
  width: 150px;
  height: 200px;
  filter: blur(80px);
  border-radius: 50%; /* 부드러운 원형 */
}

.left-box {
  bottom: -50px;
  left: -50px;
  background: rgba(255, 119, 94, 0.5);
}

.right-box {
  bottom: -50px;
  right: -50px;
  background: rgba(255, 176, 215, 0.5);
}
