.form-title {
  font-weight: bold;
  margin-bottom: 24px;
  letter-spacing: 0;
  text-align: left;
  line-height: normal;
}

.form-title-first-text {
  color: #000000;
  font-family: "Pretendard-Bold", Helvetica;
  font-size: 36px;
  font-weight: bold;
  position: relative;
}

.form-title-second-text {
  color: #858585;
  font-family: "Pretendard-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}
