/* 전체 컨테이너 */

  
  /* 슬라이더 */
  .profile-slider {
    position: relative;
    margin-top: 20px;
    touch-action: pan-y; /* 터치 스와이프 적용 */
 
  }
  
  /* 전체 프로필 박스 */
.profile-box {
    text-align: left;
    
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    background: #fff;
  }
  
  /* 기본 문단 스타일 */
  .profile-box p {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 500; /* 기본 medium */
    color: #777777; /* 기본 글자색 */
    
  }
  
  /* 데이터에서 가져온 부분 스타일 */
  .profile-box span {
    font-weight: bold;
    font-size: 20px;
    color: #1A1A1A; /* 강조 색상 */
    text-decoration: underline; /* 밑줄 추가 */
  }
  
  
  
  
  /* 닉네임 */
  .profile-nickname {
    font-size: 18px;
    font-weight: bold;
    color: #1A1A1A;
    margin-bottom: 5px;
  }
  
  /* 페이지네이션 (점) */
  .pagination-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc; /* 비활성 점 색 */
    border-radius: 50%;
    transition: background 0.3s;
  }
  
  .dot.active {
    background-color: #575757; /* 현재 활성화된 슬라이드의 점 색 */
  }
  /* 연락처 컨테이너 */
.contact-container {
    display: flex;
   
    justify-content: center;
    align-items: center;
    ;
  }
  
  .profile-contact {
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 10px 15px;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    width: 100%;
}

.profile-text {
    text-align: left; /* 왼쪽 정렬 */
}

.profile-right {
    display: flex;
    gap: 10px; /* 아이콘 사이 여백 조정 */
}

  
  /* 인스타그램 스타일 (@로 시작) */
  .profile-contact.instagram {
    background: linear-gradient(135deg, #ff775e 0%, #ff4d61 47%, #e83abc 100%);
  }
  
  /* 카카오톡 스타일 (일반 연락처) */
  .profile-contact.kakao {
    background: linear-gradient(135deg, rgba(255, 235, 106, 0.29), rgb(255, 235, 106));
    color: #3c1e1e; /* 카카오톡 글자색 */
  }

  
  .profile-right img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  /* slick slider 기본 스타일 수정 */
.slick-slider {
  width: 100%;
}

.slick-list {
  overflow: hidden; /* 슬라이드가 컨테이너를 침범하지 않도록 */
}

.slick-track {
  display: flex;
  align-items: stretch;
}

.slick-slide {
  flex: 1 0 auto;
  padding: 0 5px; /* 슬라이드 간 간격 추가 */
  box-sizing: border-box;
}
.match-container {
  margin-top: 50px;
  width: 95%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden; /* 내부 슬라이드가 침범하지 않도록 */
}
