.MBTISection {
  padding: 0px 10px 0px 10px;
}
.MBTIContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 0px;
}

.MBTIContainer .MBTIButton {
  height: 72px; /* 버튼의 높이를 늘립니다 */
  border-radius: 48px;
  width: 144px;
  font-size: 32px; /* 글자 크기를 키웁니다 */
  margin: 0px 6px 16px 6px; /* 버튼 사이의 마진을 조정합니다 */
}

.MBTIContainer .MBTIButton.active {
  font-size: 32px; /* 활성화된 버튼의 글자 크기를 키웁니다 */
}
