.navbar {
    width: 100%; 
    height: 83px;
    display: flex;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF; /* 예시 배경 색상 */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none; /* 링크의 기본 스타일 제거 */
}
.nav-item .label {
    font-size: 14px; /* 예시 레이블 크기 */
    color: #999999; /* 기본 텍스트 색상 */
}
.icon {
    width: 61px; /* 예시 아이콘 크기 */
    height: 24px;
}

.nav-item.active .icon,
.nav-item.active .label {
  color: #FF4D63; /* 활성화된 아이템의 아이콘 및 텍스트 색상 */
}