.ResultReview {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.9); /* 배경색 투명도 90% */
  height: 184px;
  border-radius: 32px;
  margin-top: 8px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25); /* 그림자 설정 */
  backdrop-filter: blur(12px);
}
.ResultReview-text {
  padding-top: 18px;
  font-size: 16px;
  font-weight: 800;
}
.ResultReview-text-top {
  font-size: 16px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ResultReview-text-username {
  background: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ResultReview-star {
  margin: 16px 0px;
}
.ResultReview-button {
  display: flex;
  margin: 0 24px 0 auto;
  height: 40px;
  width: 132px;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background-color: #ff775e;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* 그림자 설정 */
}
