.search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(179, 179, 179, 0.1); /* Match the fill from your screenshot */
    border: 1px solid #DFDFDF; /* Outer stroke */
    border-radius: 15px; /* Adjust as necessary for rounded edges */
    
    width: 100%;
  }
  
  .search-input {
    
    flex: 1;
    border: none;
    outline: none;
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    color: #333; /* Adjust text color */
    background: none;
    padding: 0 10px;
  }
  
  .search-input::placeholder {
    color: #adadad; /* Placeholder color */
  }
  
  .search-icon {
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
  