.User-Info-Rrev {
  background-color: rgba(255, 255, 255, 0.8); /* Fill with 80% opacity */
  backdrop-filter: blur(12px); /* Background blur effect */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Drop shadow */

  width: 100%;
  border-radius: 32px;
  height: 203px;
  margin-top: 16px;
  overflow: hidden; /* 스크롤이 넘치는 부분 숨기기 */
  position: relative; /* 화살표의 위치 지정을 위해 */

  font-family: "Pretendard", sans-serif;
}

.slider {
  display: flex;
  overflow-x: auto; /* 가로 스크롤을 허용 */
  overflow-y: hidden;
  scroll-snap-type: x mandatory; /* 가로로 스크롤할 때 스냅되도록 함 */
  scroll-behavior: smooth; /* 스크롤 애니메이션 부드럽게 */
}

.sliderpage {
  flex: 0 0 auto;
  width: 100%; /* 각 슬라이드 페이지의 너비를 100%로 설정 */
}

.sliderpage:nth-child(2) {
  width: 90%; /* 두 번째 페이지의 너비를 90%로 설정 */
}

.User-Contact {
  margin-top: 5px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-weight: bolder;
  color: white;
  padding: 16px 30px 16px 30px;
  height: 16px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.Userinfo-fix-button {
  background-color: rgba(255, 255, 255, 0.45);
  width: 64px;
  height: 24px;
  border-radius: 24px;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.slider-arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #000000;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.slider-arrow.left {
  left: 10px;
  width: 16px;
  height: 16px;
  font-size: 8px;
  border-radius: 100px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.slider-arrow.right {
  right: 10px;
  width: 16px;
  height: 16px;
  font-size: 8px;
  border-radius: 100px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}
