
.charge-input {
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.charge-input:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    outline: none; /* 기본 브라우저 아웃라인 제거 */
}
  .charge-request-clicked-top-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 30px;
  }
  @media (max-width: 450px) {
    .charge-request-clicked-top-page{
      font-size: 20px;
    }
  }