.checkresult-content {
  width: 90%;
  display: inline-block;
}

.CheckresultTopic {
  font-size: 16px;
  min-width: 50px;
  font-weight: bold;
  color: #777777;
  text-align: left;
  margin-top: 17px;
}

.CheckresultText {
  min-width: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-top: 7px;
}

.CheckresultBottom {
  margin-top: 5px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  font-size: 16px;
  text-align: left;
  font-weight: bolder;
  color: white;
  padding-top: 18px;
  padding-left: 30px;
  padding-bottom: 5px;

  height: 30px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
.CheckresultInline {
  padding-top: 5px;
  padding-left: 23px;
  padding-right: 23px;
  display: flex;
}

.CheckresultTopline {
  padding-top: 5px;
  padding-left: 23px;
  display: flex;
}

.CheckresultInlineItem {
  margin-right: 10px;
  min-width: 40%;
  height: 70px;
}

.CheckresultItem {
  background: #ffffff;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 32px 32px 32px 32px;
  height: 200px;
}
