.text-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .main-text {
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .sub-text {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #666;
  }
  .hobby-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    
    margin-top: 50px;
  }
  
  .hobby-category {
    margin-bottom: 20px;
  }
  
  .hobby-category-title {
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    font-weight: 600; /* Semibold */
    color: #333;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .hobby-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
  
  .hobby-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    background-color: rgba(182, 182, 182, 0.1); /* 기본 배경색 */
    border: 1px solid #dfdfdf; /* 기본 테두리 색상 */
    border-radius: 99px; /* 둥근 모서리 */
    cursor: pointer;
    transition: all 0.3s ease; /* 전환 효과 */
  }
  
  .hobby-items.selected {
    background-color: #ffebed; /* 선택된 배경색 */
    border-color: #FF4D61; /* 선택된 테두리 색상 */
  }
  
  .hobby-items:hover {
    opacity: 0.9; /* 호버 시 살짝 투명 효과 */
  }
  
  .hobby-emoji {
    font-size: 14px; /* 이모지 크기 */
    font-family: "Pretendard", sans-serif;
    
    color: #333;
  }
  
  
  
  
  .submits-button {
    width: 90%; /* 버튼 너비를 90%로 설정 */
    height: 48px;
    background-color: #555; /* 버튼 기본 색상 */
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: fixed; /* 화면에 고정 */
    bottom: 20px; /* 화면 아래에서 20px 떨어짐 */
    left: 50%; /* 화면의 가운데를 기준으로 정렬 */
    transform: translateX(-50%); /* 가운데 정렬 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 (선택 사항) */
}

  
  .submits-button.inactive {
    background-color: #b3b3b3; /* 비활성 상태 */
    color: #fff;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .submits-button.active {
    background: linear-gradient(
        90deg, /* 수평 방향으로 그라데이션 */
        #000000 0%,       /* 시작 색상: 검정 */
        #ff775e 0%,       /* 두 번째 색상: 오렌지 */
        #FF4D61 47%,      /* 세 번째 색상: 진한 핑크 (Primary) */
        #e83abc 100%      /* 끝 색상: 연한 핑크 */
    );
    color: #fff;
  }

  .custom-hobby-input {
    background: none;
    border: none;
    width: 120px;
    height: 10px;
    padding: 8px;
    font-size: 14px;
    border-radius: 99px;
    outline: none;
  }
  