


.contents {
  background-color: rgba(255, 255, 255, 0.452);
  padding: 20px;
  border-radius: 8px;
  margin-top: 4px;
  width: 90%;
  
  border: 1px solid #0000000e;
}

.LoadingText {
  width: 90%;
  height: 120px;
  
  
  font-family: "Pretendard", sans-serif;
  font-size: 16px; /* 글자 크게 해서 효과 잘 보이게 */
  font-weight: 700;
  text-align: left;
  margin: 10px 0px 30px 0px;

  /* Gradient 배경 */
  background: linear-gradient(
    90deg,
    #d3d3d3 0%,   /* 밝은 회색 */
    #a9a9a9 25%,  /* 진한 회색 */
    #808080 52%,  /* 더 진한 회색 */
    #d3d3d3 75%,  
    #f5f5f5 100%  /* 아주 밝은 회색 */
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; /* 글자 색 투명 */
  -webkit-text-fill-color: transparent; /* 사파리 호환성 */
  
  animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
