.Mainpage__Login {
  width: 90%;
  margin-top: 27px;
  display: inline-block;
  border-radius: 32px;
  margin-bottom: 50px;
  color: #ffffff;
}

.matching-button {
  margin-top: 20px;
  color: #0c0c0c;
  width: 100%;
  height: 120px;
  border-radius: 32px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  border: 2px solid #ff6b81;
  backdrop-filter: blur(12px); /* Background blur effect */
}

.number-button {
  text-align: center;
  margin-top: 10px;
  color: #0c0c0c;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
}

.number-text {
  padding-top: 5%;
  font-size: 20px;
  margin-left: 10%;
  display: flex;
}

.number-text2 {
  font-size: 30px;
  margin-left: 10%;
}

.number-bottom {
  padding-bottom: 10px;
}

.number-button-opport {
  margin-left: 45px;
}

.number-matching-group {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}

.number-charge {
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  color: #ffffff;
  text-align: center;
  height: 40px;
  width: 40%;
  border-radius: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 30%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.charge-request-unclicked {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8); /* Fill with 80% opacity */
  border-radius: 24px;
  margin-top: 17px;

  padding: 18px 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Drop shadow */
  border: 1.5px solid rgba(255, 255, 255, 0.55); /* Stroke */
  backdrop-filter: blur(12px); /* Background blur effect */

  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.charge-request-unclicked-img,
.charge-request-clicked-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0px;
  border-radius: 100px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.charge-request-unclicked-img img,
.charge-request-clicked-img img {
  width: 12px;
  height: 8px;
}

.charge-request-clicked {
  height: auto;
  background-color: rgba(255, 255, 255, 0.8); /* Fill with 80% opacity */
  border-radius: 24px;
  margin-top: 17px;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Drop shadow */
  backdrop-filter: blur(12px); /* Background blur effect */
  padding: 18px 20px;

  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.charge-request-clicked-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.charge-request-clicked-text {
  text-align: left;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
}
.charge-request-clicked-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 11px;
  width: 136px;
  height: 40px;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #e0e0e0 inset;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  color: #363636;
}
