.circle-icon {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-top: 25px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.MatchResult-Container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.matchresult-content {
  text-align: center;
  background-color: white;
  width: calc(100% - 35px);
  margin: auto;
  border-radius: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding: 24px 20px;
  border: 1px solid rgba(128, 128, 128, 0.13);
}
.MatchResult-Topic-Top {
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  text-align: left;
  margin-top: 10px;
}
.MatchResult-Topic {
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  text-align: left;
  margin-top: 32px;
}
.MatchResult-Text {
  max-width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-top: 8px;
}

.MatchResult-Hobby,
.MatchResult-Major,
.MatchResult-Contact {
  width: 100%;
}

.MatchResult-Age,
.MatchResult-MBTI,
.MatchResult-Frequency {
  width: 33%
}

.MatchResult-Text-Hobby {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  margin: 12px 0;
}

.hobby-box {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #b3b3b311;
  border-radius: 99px;
  border: 1px solid #DFDFDF;
  width: auto;
}

.hobby-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.hobby-text {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.MatchResult-Container {
  display: flex;
  flex-wrap: wrap;
}

.MatchResult-Major {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}
.MatchResult-Age {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards 0.3s;
}
.MatchResult-MBTI {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards 0.6s;
}
.MatchResult-Frequency {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards 0.9s;
}
.MatchResult-Hobby {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards 1.2s;
}
.MatchResult-Song {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards 1.5s;
}
.MatchResult-Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards 1.8s;
}
.MatchResult-Text-Contact {
  margin-left: 0px;
  color: #ff4d61;
}
.MatchResult-Text-Hobby {
  display: flex;
  flex-wrap: wrap;
}
.MatchResult-hobby-element {
  margin-top: 8px;
  display: flex;
  align-items: center;
  height: auto;
  background-color: #ffffff;
  width: auto;
  border-radius: 24px;
  padding: 10px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

  margin-right: 8px;

  font-family: "Pretendard", sans-serif;
  font-weight: 900;
}
.MatchResult-hobby-element img {
  height: 24px;
  width: 24px;
  padding-right: 8px;
}

.MatchResult-button-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}
.Retry-button {
  background-color: #ffffff;
  font-size: 18px;
  width: 48%;
  font-family: "Pretendard", sans-serif;
  font-weight: 900;
  color: #6f6f6f;
  height: 56px;
  border-radius: 15px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.Retry-same-button {
  background: linear-gradient(90deg, #FF775E 0%, #FF4D61 47%, #E83ABC 100%);
  font-size: 18px;
  width: 100%;

  font-family: "Pretendard", sans-serif;
  font-weight: 900;
  color: white;
  height: 56px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.Retry-same-button-point {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 4px 12px;
  border-radius: 36px;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 12px;
  font-weight: bold;
  margin-right: 12px;
}
.Retry-same-button-point img {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.SendText-button {
  background: linear-gradient(90deg, #F76BA3 0%, #FA78A0 50%, #FC849F 100%);
  font-size: 18px;
  width: 48%;
  font-family: "Pretendard", sans-serif;
  font-weight: 900;
  color: white;
  height: 56px;
  border-radius: 15px;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}