body.modal-open {
  overflow: hidden;
}


.matchcontent {
    text-align: center;
    width: 100%;
    margin: auto;
    display: inline-block;
    margin-top: 28px;
    position: relative;
}
.matchcontent_mbti{
    text-align: center;
    width: 100%;
    margin: auto;
    display: inline-block;
    
    position: relative;
    padding: 12px 0px 12px 0px;
    border-top: 1px solid #E5E5E5;
}
.firstcontent_mbti{
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  position: relative;
  padding: 12px 0px 12px 0px;
  border-top: 1px solid #E5E5E5;
}
.matchcontent_detail{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    margin: auto;
    display: inline-block;
    border-radius: 24px;
    margin-top: 24px;
    position: relative;
    border: 1px rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    padding: 12px 8px 12px 0px;
}
.match-title {
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    line-height: normal;
}

.match-title-text {
    color: #000000;
    font-family: "Pretendard-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 29px;
    position: relative;
    margin-top: 16px;
}
.match-title-mbti{
  font-family: "Pretendard-Medium", Helvetica;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: normal;
  text-align: left;
}
.match-title-inst-txt {
    color: #858585;
    font-family: "Pretendard-Medium", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 5px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 36px;
}
.match-required-text {
    margin-left: 5px;
    font-size: 13px;
    color: rgba(255, 0, 0, 0.596); 
}
.match-select-button {
  display: flex;
  justify-content: space-between;
  
} 

.match-select-button .AgeButton { 
  flex: 1 0 30%; 
  max-width: 30%; 
  margin: 5px; 
  height: 80px; 
  font-weight: bold;
  font-size: 32px; 
}

.match-premium-option-right {
    display: flex;
    align-items: center;
    margin-right: 14px;

}
.match-premium-option-unclick-button{
  width: 86px;
  height: 45px;
  background-color: #ffffff; /* Hover effect */
  border: 1px solid rgb(228, 228, 228);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  padding: 0;
}
.match-premium-option-click-button {
    background-color: #ffffff;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 50%;
    
}



.match-premium-option-cost {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.match-premium-option-class-click-button{
  background: none;
}
.match-premium-option-cost img,
.match-premium-option-click-button img {
  width: 20px;
  height: 20px;
  margin-right: 8px; /* spacing between the image and text */
}
.match-premium-option-click-button img {
  margin-right: 0; /* Remove margin for the close icon */
}
.match-premium-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
}
.footer_btn {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 0; /* 화면의 왼쪽 끝에 위치 */
  background: none;
  z-index: 1000; /* 다른 요소들보다 위에 오도록 설정 */
  
}
.footer_btn_box {
  width: 300px;
  height: 48px;
  background-color: white;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* 박스 그림자 추가 */
}

.footer_btn_box img {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.footer_btn_box p {
  flex: 1;
  text-align: center;
  margin: 0;
}
.cost-bubble {
  position:fixed;
  bottom: 80px; /* footer_btn_box 위에 위치하도록 설정 */
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 34px;
  background-color: white;
  border: 2px solid pink;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.cost-bubble img {
  
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 5px;
}

.cost-bubble span {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.cost-bubble::after {
  content: '';
  position: absolute;
  bottom: -10px; /* 삼각형이 말풍선 아래쪽에 위치하도록 설정 */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 3px solid pink  ;
  border-right: 3px solid  pink ;
  border-top: 10px solid white; /* 말풍선과 동일한 색상으로 설정 */
  z-index: -1; /* 삼각형이 말풍선 뒤에 위치하도록 설정 */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.match-hobby-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
  margin-top: 16px;
}

.hobby-item {
  flex: 1 1 calc(33.33% - 20px); /* 3개씩 배치 (간격 포함) */
  max-width: calc(33.33% - 20px);
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: white; /* 기본 배경색 */
  transition: background-color 0.3s, border-color 0.3s;
}

.hobby-item.selected {
  background: linear-gradient(45deg, #F8D1E0 0%, #FFFFFF 75%);

  border-color: #ff99a9; /* 선택 시 보더 색상 변경 */
}

.hobby-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.hobby-item div {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}


@media (max-width: 400px) {
  .match-title-text {
      font-size: 20px;
  }
  .match-title-inst-txt{
    font-size: 11px;
  }
}
.match-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.match-modal-content {
  background: white;
  width: 100%;
  height: 80%;
  padding: 24px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.match-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.modal-title {
  font-size: 16px;
  font-weight: bold;
  font-family: "Pretendard", sans-serif;
  text-align: center;
  flex-grow: 1;
  margin-left: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.close-button {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 0px;
}

.match-modal-body p {
  font-size: 14px;
  font-family: "Pretendard", sans-serif;
  color: #999999;
  text-align: center;
  margin: 4px 0;
}
.priority-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.circle {
  width: 36px;
  height: 36px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.priority-box {
  background-color: #F5F5F5;
  padding: 25px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px; /* 필요에 따라 조정 */
  border-radius: 8px;
  flex: 1;
}

.priority-text {
  font-size: 20px;
  font-weight: bold;
}

.priority-icon {
  width: 20px; /* 아이콘 크기 조정 */
  height: 20px;
}
.modal-button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
        90deg, /* 수평 방향으로 그라데이션 */
        #000000 0%,       /* 시작 색상: 검정 */
        #ff775e 0%,       /* 두 번째 색상: 오렌지 */
        #FF4D61 47%,      /* 세 번째 색상: 진한 핑크 (Primary) */
        #e83abc 100%      /* 끝 색상: 연한 핑크 */
    );
  height: 48px;
  width: calc(100% - 40px);
  border-radius: 24px; /* 둥근 모서리 적용 */
  /* 텍스트 스타일 */
  color: white; /* 글자 색상 */
  font-size: 20px; /* 글자 크기 */
  font-weight: bold; /* 글자 두께 */

  /* 수직 중앙 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-img{
  margin-right: 10px;
}

.cost_icon{
  width: 50px;
  height: 50px;
}
.match-premium-option-clicks-button{
  background: none;
}