
  .mypage-container{
    padding: 0px 24px;
  }
  .mypage-greeting{
    margin-top: 50px;
  }
  .mypage-greeting p {
    font-size: 20px;
    font-weight: bold;
  }
  
  .mypage-profile-btn {
    background: #e5e5e57e;
    color: #808080;
    width: 100px;
    height: 32px;
    font-size: 11px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .mypage-point-container {
    
    width: 100%;
    height: 138px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 10px;
  }
  .mypage-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
  }
  .mypage-point-icon {
    width: 48px;
    height: 48px;
  }
  
  .mypage-point-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mypage-point-label {
    font-size: 12px;
    font-weight: 600;
    color: #999999;
  }
  
  .mypage-point-value {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  .mypage-recharge-btn {
    width: 105px;
    margin-left: 50px;
    border: 1px solid #ddd;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    background: linear-gradient(90deg, #F76BA3 0%, #FA78A0 50%, #FC849F 100%);
  }
  
  .mypage-history-btns {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
  }
  
  .mypage-history-btn {
    background: rgba(26, 26, 26, 0.08);
    color: black;
    border: none;
    border-radius: 8px;
    width: 50%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }
  