.ProfileBuilder {
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  width: calc(95% - 48px);
  display: inline-block;
  border-radius: 16px;
  margin-bottom: 8px;
  padding: 20px 24px;

  backdrop-filter: blur(100px); /* Background Blur */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Drop Shadow */
  border: 1px solid rgba(255, 255, 255, 0.8); /* Solid Stroke */

  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.ProfileBuilder-answer {
  text-align: left;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  width: calc(95% - 48px);
  display: inline-block;
  border-radius: 16px;
  margin-bottom: 8px;
  padding: 20px 24px 20px 24px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); /* Drop Shadow */

  font-family: "Pretendard", sans-serif; /* Pretendard font */
  font-weight: bold; /* Bold font weight */
  font-size: 16px; /* Font size of 18px */
  color: white; /* Font color white */
}
.chat-message {
  margin-top: 25px;
  height: 280px;
  overflow-y: auto;
  padding-bottom: 30px;
}
.typing-animation {
  white-space: pre-line;
}
.Answer-box {
  height: 250px;
}

.ProfileMaker {
  text-align: center;
  background: #d3b5b5;
  width: 85%;
  display: inline-block;
  border-radius: 16px;
  padding: 24px 20px 15px 20px;
}

.ProfileMaker-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 5px;
}
.profilemaker-choose-button {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 32px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}
.profilemaker-button-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #ffffff;
  width: 36px;
  height: 36px;
  border-radius: 100px;

  margin-right: 15px;
}

.profilemaker-submit-button {
  background-color: #ff775e;
  border-radius: 36px;
  height: 40px;
  width: 40%;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 60%;
}
