.QRGenerator {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 100vh; /* 화면 전체 높이로 설정 */
}
.QRGenerator-Button {
  width: 90%;
  margin-bottom: 16px;
  border-radius: 16px;
  height: 48px;
  background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
