
.commet_title{
    margin-bottom: 7px;
    text-align: left;
    margin-top: 0px;
}
.music_title{
    margin-bottom: 7px;
    text-align: left;
    margin-top: 20px;
}
.match-select-button {
    display: flex;
    justify-content: space-between; /* 요소들을 양 끝으로 정렬 */
    width: 100%; /* 필요에 따라 조정 */
}

.form-inner-content {
    text-align: center;
    width: 100%;
    margin: auto;
    display: inline-block;
    border-radius: 32px;
    margin-top: 25px;
    margin-bottom: 50px;
    position: relative;
}
.form-inner-content-text {
    text-align: left;
    font-size: 18px;
    font-weight: 700;

}


input {
    box-sizing: border-box;
    width: calc(100% - 44px);
    height: 40px;
    padding: 5px 8px;
    border: none; /* 기존 테두리 제거 */
    border-bottom: 2px solid #ccc; /* 밑줄만 표시 */
    border-radius: 0; /* 둥근 모서리 제거 */
    font-size: 18px; /* 글자 크기 */
    font-weight: 600; /* 세미볼드 */
    outline: none; /* 클릭 시 파란 테두리 제거 */
}

input::placeholder {
    color: #a5a5a5;
}


.music {
    color: #858585;
    font-family: "Pretendard", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    margin-top: 6px;
    position: relative;
}

.music input {
    flex: 1;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.song-input {
    width: 100%;
    padding: 8px;
}

.submit-button {
    background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc);
    color: #ffffff;
    width: 95%;
    height: 54px;
    border-radius: 32px;
    font-size: 22px;
    font-weight: bold;
    margin: 16px 0px;
}
.form-selected-hobbies {
    width: 80%;
    margin: 12px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.form-AgeMaker {
    width: 30%;
    height: 54px;
    border-radius: 40px;
    background-color: #ffffff;
    color: #a5a5a5;
    border: 1px solid #e0e0e0; /* Stroke: E0E0E0 with 100% opacity and 1px width */
    margin: 8px 0 16px 0;

    font-size: 4.5vw;
    font-family: "Pretendard", sans-serif; /* Font family set to Pretendard */
    font-weight: bold; /* Bold font weight */
    color: #a5a5a5; /* Pretendard Bold color A5A5A5 at 18px */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25); /* Drop shadow with 25% opacity */
}

.form-AgeMaker.selected {
    width: 30%;
    height: 54px;

    border-radius: 40px;
    background: linear-gradient(45deg, #F8D1E0 0%, #FFFFFF 75%);
    color: #F57DB2;
    border: 1px solid #F57DB2;
    margin: 8px 0 16px 0;

    font-family: "Pretendard-SemiBold", Helvetica;
    font-weight: 700;
    font-size: 3vw;

}
.start-button {
    background-color: rgba(179, 179, 179, 0.4); /* 비활성 상태 */
    color: var(--grayscale-lighter); /* 비활성 텍스트 색상 */
    width: 95%;
    height: 54px;
    border-radius: 32px;
    font-size: 22px;
    font-weight: bold;
    margin: 16px 0;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    opacity: 0.7;
}

/* 활성화 상태 */
.start-button.active {
    background-image: linear-gradient(135deg, #ff775e, #ff4d61, #e83abc); /* 활성화 배경 */
    color: #ffffff; /* 활성화 텍스트 색상 */
    cursor: pointer; /* 활성화 시 포인터 커서 */
    opacity: 1;
}


@media (max-width: 400px){
    .select-hobby-topic{
        font-size: 24px;
    }
    .start-button{
        font-size: 15px;
    }
} 
h3 {
    text-align: left;
}