.App {
  margin: 0px;
  text-align: center;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  .container {
    background-size: cover;
    margin: 0px;
  }
  .header,
  .content {
    width: 100%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0px 24px 0px 24px;
  min-height: 100vh;
  font-family: Pretendard;
  text-align: center;
  background-color: #FFFAFB;
  align-items: center;
}


.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  width: 90%;
  margin: auto;
  display: inline-block;
  border-radius: 32px;
  margin-top: 25px;
  margin-bottom: 50px;
  position: relative;
  backdrop-filter: blur(12px);
}
