body {
  margin: 0px;
  padding: 0px;
  /*없애도되는거*/
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  background-color: none;
  color: black;
  caret-color: black;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px whinonete inset;
  background-color: none !important;
  color: black !important;
}


/* 테블릿 크기에 맞춘 스타일
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 768px;  테블릿 크기 조정 
  }
}*/ 
